* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
}

/*********** Navbar Styles **********/
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.932); */
  background-color: #0c2d48;
  color: white;
  font-size: 20px;
}

.navbar-container span {
  font-family: cursive;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 16px;
  gap: 15px;
}

.navbar-list li {
  font-size: 28px;
  margin-right: 10px;
}

.navbar-list li:active,
.navbar-list li:hover {
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar-container,
  .navbar-list {
    flex-direction: column;
  }
}

/*********** Index Styles **********/
section {
  display: flex;
  background-color: #2e8bc0;
}

nav {
  padding: 40px;
  justify-content: center;
  background-color: #b1d4e0;
}

nav span {
  display: block;
  margin-bottom: 10px;
}

.index-zoznamSluzieb {
  list-style-type: none;
}
.index-zoznamSluzieb li {
  display: list-item;
  white-space: nowrap; /*StackOverFlow*/
}

.index-article {
  padding: 20px;
}

.index-welcome {
  margin-bottom: 20px;
}

.index-welcome h1 {
  font-size: 160%;
  font-family: cursive;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
}

/*********** Kontakt Styles **********/

.contact-container {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: auto;
  background-color: #54a1d4;
  padding: 56.5px 0;
}

.contact-form-container {
  /* position: absolute; */
  display: flex;
  width: 40rem;
  height: 36rem;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 20px;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.38);
}

.contact-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  width: 17.5rem;
  margin-right: 80px;
  margin-top: 64px;
}

.contact-form span {
  color: rgb(12, 12, 112);
  font-size: 2rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  font-size: 1.3rem;
  color: #aaa9a9;
  background-color: rgba(255, 255, 255, 0.932);
  border: none;
  padding: 16px;
  margin: 8px;
  width: 100%;
}

.contact-btn {
  width: 100%;
  background-color: #54a1d4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 24px;
}

.contact-btn:hover,
.contact-btn:active {
  cursor: pointer;
  background-color: rgb(12, 12, 112);
}

.white-space {
  width: 50%;
}

.contact-info {
  position: absolute;
  z-index: 9;
  width: 20rem;
  height: 30rem;
  background-color: rgb(12, 12, 112);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  padding: 16px;
  color: #afdddf91;
  font-size: 24px;
  border-radius: 20px;
  margin-left: -30%;
}

.contact-info h4 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  margin-bottom: 160px;
}

.contact-info li {
  margin-bottom: 24px;
}

.ci-footer {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .contact-container {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info {
    position: relative;
  }
  .white-space {
    display: none;
  }
  .contact-form-container {
    justify-content: center;
  }
}

/*********** About Styles **********/
.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #54a1d4;
}

.about-context {
  width: 50vw;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 14px;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
}

.about-container h2 {
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(12, 12, 112);
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-img-container {
  display: flex;
}
