* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/*********** Navbar Styles **********/
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.932);
  font-size: 10px;
  height: 5%;
}
.navbar-container span {
  font-family: cursive;
}

.web-logo {
  border-radius: 15px;
  width: 100px;
  margin-left: 40px;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 8px;
  gap: 15px;
  margin-right: 10%;
}

.navbar-list li {
  font-size: 14px;
  margin-right: 10px;
}

/*********** Kontakt Styles **********/

.contact-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 95%;
  background-color: #54a1d4;
}

.contact-form-container {
  position: absolute;
  display: flex;
  width: 20rem;
  height: 18rem;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 20px;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.38);
}

.contact-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 32px;
  flex-direction: column;
}

.contact-form span {
  color: rgb(12, 12, 112);
}

.contact-form input,
.contact-form textarea {
  font-size: 10px;
  color: #aaa9a9;
  background-color: rgba(255, 255, 255, 0.932);
  border: none;
  padding: 6px;
  margin: 4px;
}

.contact-btn {
  width: 78%;
  background-color: #54a1d4;
  color: white;
  border: none;
  border-radius: 6px;
}
.contact-btn:hover,
.contact-btn:active {
  cursor: pointer;
  background-color: rgb(12, 12, 112);
}

.white-space {
  width: 50%;
}

.contact-info {
  position: absolute;
  z-index: 9;
  width: 10rem;
  height: 15rem;
  background-color: rgb(12, 12, 112);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  padding: 16px;
  color: #afdddf91;
  font-size: 12px;
  border-radius: 20px;
  margin-left: -22rem;
}

.contact-info h4 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  margin-bottom: 80px;
}

.contact-info li {
  margin-bottom: 12px;
}

.ci-footer {
  display: flex;
  gap: 10px;
}

/*********** About Styles **********/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.932);
  background-color: #54a1d4;
  height: 95%;
}

.about-context {
  width: 400px;
  padding: 15px;
}

.about-container h2 {
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(12, 12, 112);
}

.about-container p {
  font-size: 12px;
  margin-bottom: 10px;
}

.about-img-container {
  display: flex;
}
