<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Registrácia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/includes/register.inc.php" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i
                                class="bi bi-person-plus-fill text-white"></i></span>
                        <input type="text" class="form-control" name="firstname" placeholder="Meno" required
                            name="firstname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i
                                class="bi bi-person-plus-fill text-white"></i></span>
                        <input type="text" class="form-control" name="lastname" placeholder="Priezvisko" required
                            name="lastname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Heslo" required
                            name="password">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                        <input type="password" class="form-control" name="repassword" placeholder="Zopakuj heslo"
                            required name="repassword">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i class="bi bi-envelope text-white"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email" required name="email">
                    </div>
                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-primary" type="submit" name="submit"><span></span> Registrovať</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>